<h1>Structure</h1>


<div ng-controller="structureCtrl">
<div id="structure_container">
  <div class="element_div" ng-repeat="inputField in inputFields">
    <div class="structure_div" >
      <select ng-model="elementSelected" ng-options="element.element_name for element in element_names"></select>
      <select ng-model="lengthSelected">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>></select>
      <input ng-model="optionalNotes" placeholder="Optional Notes">
    </div>  
    <div class="structure_div">
      <h3 ng-click="addElementField()">+</h3>
    </div>
    <div class="structure_div">
      <h3 ng-click="removeElementField(inputField)">-</h3>
    </div>
  </div>


  </div>
  <div>
    <button ng-click="saveStructure()"> Save Structure! </button>
  </div>
</div>




