
<div class="container">

  <div ng-controller="songsCtrl">
    <h1>My Songs: </h1>

      <div class="col-sm-6 col-md-4" ng-repeat="song in songs track by $index">
        <div class="thumbnail">
          <div class="caption">
            <div class="row">
                <h3><a href="/songs/{{song.id}}">{{song.title}}</a></h3>
                <h4> Key Signature: {{song.key_signature}} </h4>
                <h4> Time Signature: {{song.time_signature}} </h4>
                <h4> Tempo: {{song.tempo}} bpm </h4>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
