
<h1>Basics</h1>

<div ng-controller="songsCtrl">
  <input ng-model="songTitle" placeholder="Enter Song Name Here">
  <select ng-model="key" ng-options="key.name for key in keys"></select>
  <select ng-model="timeSignature" ng-options="time_signature.name for time_signature in time_signatures"></select>
  <select ng-model="tempo" ng-options="tempo.bpm for tempo in tempos"></select>
  <button ng-click="addSong(songTitle, key, timeSignature, tempo)"> Add Song! </button>
</div>



